@keyframes fadeIn {
  0% { opacity: .01; }
  20% { opacity: .8; }
  40% { opacity: 1; }
  80% { opacity: .8; }
  100% { opacity: .01; }
}

/* DIAPO DES INTERVENANTS */
.intervenants__diapo {
    margin-left: auto; margin-right: auto;
    margin-top: 15px;
    width: 100%;
    height: 100vh;
    background: var(--color-two);
    border-radius: 10px;
    margin-top:5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgb(41, 40, 40);
    animation: fadeIn 5000ms;
    animation-iteration-count: infinite;
    position: relative;
}

.intervenants__text {
  height: 98%;
  padding: 2%;
  width: 39%;
  border-radius: 3px;
  background-color: rgb(245, 238, 238);
  color: black;
}

.intervenants__description {
  font-size: 18px;
  font-weight: 400;
}

.intervenants__img {
    height: 100%;
    padding: 1% 1% 1% 0%;
    width: 60%;
    border-radius: 10px;
    object-fit: cover;
}
/* LISTE DES INTERVENANTS */
.intervenants__list {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 30px;
}

.intervenant {
  display: flex;
  margin-bottom: 10px;
}

.intervenant-pic {
  width: 20vw;
  height: 20vw;
}
.intervenant-pic img {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
}

.intervenant-text {
  padding: 0% 2%;
  font-size: 14px;
  color: black;
}
.intervenant-text a {
  font-size: 15px;
  text-decoration: underline;
  color: black;
}
.intervenant-text h4 {
  font-size: 20px;
  margin-bottom: 5px;
}
.intervenant-text h5 {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}


/* Mobiles */
@media screen and (max-width: 768px) {
  .intervenants__container {
      flex-direction: column-reverse;
  }
  .intervenants__text {
    height: 50%;
    padding: 1%;
    width: 100%;
    border-radius: 3px;
    background-color: rgb(245, 238, 238);
    color: black;
  }
  
  .intervenants__description {
    font-size: 16px;
  }
  .intervenants__subDescription{
    font-size: 12px;
  }
  
  .intervenants__img {
      height: 50%;
      padding: 1%;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
  }

  .intervenants__list {
    width: 94%;
    margin-left: auto; margin-right: auto;
  }
  .intervenant {
    width: 100%;
  }
  .intervenant-pic {
    display: none;
  }
}
  
