/* Desktop */
.about-container {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 20px;
}

.about-container h2 {
    font-size: 28px;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    margin-bottom: 20px;
    color: #477459;
}

.about-container h3 {
  font-size: 26px;
  font-family: 'Cinzel', serif;
  font-weight: 800;
  margin-bottom: 20px;
  color: rgb(37, 37, 37);
}

.teamInfos {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(37, 37, 37);
}

.teamInfos img {
  height: 100px;
  width: 100px;
  margin-right: 15px;
  border-radius: 50px;
}

.teamInfos-text {
  margin-right: 15px;
}

.teamInfos h4 {
  font-size: 24px;
}

.about-container ul {
  margin-left: 3vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sandra {
  margin-bottom: 150px;
}

.sandra-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.sandra-box-img {
  width: 20vw;
  height: 25vw;
}
.sandra-box-img img {
  width: 20vw;
  height: 25vw;
  object-fit: cover;
}

.sandra-box-text {
  width: 75vw;
}

.values {
  display: flex;
  gap:1rem;
}

.values>div {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.values-future {
  font-style: italic ;
}

/* Mobiles */
@media screen and (max-width: 768px) {
    .about-container {
      margin-left: auto; margin-right: auto;
      width: 92%;
    }
    .about-container p {
      font-size: 12px;
    }
    .sandra-box {
      flex-direction: column;
      align-items: center;
    }
    .sandra-box-img {
      width: 60vw;
      height: 80vw;
    }
    .sandra-box-img img {
      width: 60vw;
      height: 80vw;
      object-fit: cover;
    }
    .sandra-box-text {
      width: 80vw;
    }
}