.testimonials {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.testimonials-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

.testimonial {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: rgb(37, 37, 37);
    border-top: solid 1px gray;
    padding-top: 10px;
}

.testimonial-infos {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
    width: 70vw;
    padding: 2%;
}


.testimonial-infos h3, .testimonial-infos h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.testimonial-desription {
    font-weight: 600;
    margin-bottom: 10px;
}

.testimonial-link {
    font-size: 16px;
    text-decoration: underline;
    font-style: italic;
    font-weight: 500;
    margin-top: 10px;
}
.testimonial-link:hover {
    cursor: pointer;
    color: rgb(167, 101, 230);
    transition: .3s ease;
}

.testimonial-img {
    width: 20vw;
    height: 20vw;
}

.testimonial-pic{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}


/* Mobiles */
@media screen and (max-width: 768px) {
    .testimonials  {
        margin-top: 50vh;
    }
    .testimonials-title {
        font-size: 24px;
    }
    .testimonials-container {
        padding: 1% 2%;
        padding: .5rem;
    }
    .testimonial-infos {
        font-size: 12px;
        line-height: 16px;
        width: 65vw;
    }
    
    .testimonial-infos h3 , .testimonial-infos h3 {
        font-size: 18px;
    }
    
    .testimonial-link {
        font-size: 14px;
    }
    .testimonial-img, .testimonial-pic{
        width: 30vw;
        height: 30vw;
    }
}